{#Template pour la partie titre et date d'activation du formulaire #}
<div class="col-md-6">
    <label for="title" class="form-label">Title</label>
    {{ form_widget(form.title,{'attr':{'class':'form-control'}}) }}
</div>
<div class="col-md-6">
    <label for="date" class="form-label">Date d'Activation</label>
    {{ form_widget(form.activationDate) }}
</div>
