{#Template qui cible le contenu ou le destinataire#}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <button class="nav-link active" id="contenuSelect" data-bs-toggle="tab" data-bs-target="#contenu" type="button" role="tab">Contenu</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="destinatairesSelect" data-bs-toggle="tab" data-bs-target="#destinataires" type="button" role="tab">Destinataires</button>
    </li>
</ul>
