{#Template pour le tab pour le choix de la langue#}
{#Possible de le rendre dynamique #}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <button class="nav-link active" id="frSelected" data-bs-toggle="tab" data-bs-target="#fr" type="button" role="tab">Fr</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="nlSelected" data-bs-toggle="tab" data-bs-target="#nl" type="button" role="tab">Nl</button>
    </li>
</ul>
